<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.c4.board.notice.NoticeDAO">
  
  <insert id="setComment" parameterType="CommentsDTO">
  	INSERT INTO COMMENTS VALUES(comments_seq.nextval, #{num}, #{writer}, #{contents}, sysdate, #{board})
  
  </insert>
  
  <select id="getCommentCount" parameterType="CommentsDTO" resultType="Long">
 	 	SELECT COUNT(commentNum) FROM COMMENTS
  		WHERE board =#{board} and num =#{num}	
  </select>
  
  <select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
	  	SELECT * FROM
	  	(SELECT rownum R, C.* From
		  	(SELECT * FROM COMMENTS WHERE BOARD =#{comments.board} and NUM=#{comments.num}
		  	ORDER BY commentNum desc) C) 
		  WHERE R between #{pager.startRow} and #{pager.lastRow}
  </select>
  
  <delete id="setCommentDel" parameterType="CommentsDTO">
  	DELETE COMMENTS WHERE commentNum=#{commentNum}
  </delete>
  
  <update id="setCommentUpdate" parameterType="CommentsDTO">
  	UPDATE COMMENTS SET CONTENTS=#{contents} WHERE commentNum=#{commentNum}
  </update>
  
  <select id="getCount" parameterType="Pager" resultType="Long">
  
  	SELECT COUNT(NUM) FROM NOTICE
  		
  		<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
  		<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
  		<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
  		
  </select>
  
  
	<select id="getList" parameterType="Pager" resultType="NoticeDTO" >
 		SELECT * FROM
  		(SELECT ROWNUM R, N.* FROM
  		 (SELECT * FROM NOTICE 
  		 
  		 WHERE 
  		 
  		 <choose>
  		<when test="kind == 'k1'">
				title
			</when>
			
			<when test="kind == 'k2'">
				contents
			</when>
			
  		 	<otherwise>writer</otherwise>
  		 	
  		 </choose>
  		 
  		 LIKE '%' || #{search} || '%'
  		 
   		ORDER BY NUM DESC) 
   		N)
 		WHERE R BETWEEN #{startRow} AND #{lastRow} 
  
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getSelectResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="contents" property="contents"/>
  		<result column="writer" property="writer"/>
  		<result column="regDate" property="regDate"/>
  		<result column="hits" property="hits"/>
  		<!-- 1: N, DTO내에 List가 멤버변수로 선언 -->
  		<collection property="files" javaType="List" ofType="BoardFilesDTO" >
  			<id column="fileNum" property="fileNum"/>
  			<result column="num" property="num"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	
  	</resultMap>
  	
	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
		
  	  	SELECT * FROM NOTICE N LEFT JOIN NOTICEFILES NF
    	USING(NUM)
    	WHERE NUM=#{num}
	
	</select>
  
  	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  		SELECT * FROM NOTICEFILES WHERE NUM = #{num}
  	</select>
  
  	
  	<insert id="setInsert" parameterType="BoardDTO" >
		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
			select notice_seq.nextval from dual 
		</selectKey>
		
  	  INSERT INTO NOTICE(num, title, contents, writer, regDate, hits) 
  	  VALUES(#{num}, #{title},#{contents},#{writer}, sysdate, 0)
  	</insert>
  	
  	<insert id="setFile" parameterType="BoardFilesDTO">
  		INSERT INTO NOTICEFILES (FILENUM, NUM, FILENAME, ORINAME)
  		VALUES (files_seq.nextval, #{num}, #{fileName}, #{oriName})
  		
  	</insert>
  	
  	<delete id="setFileDelete" parameterType="BoardFilesDTO">
  		DELETE noticeFiles WHERE fileNum = #{fileNum}
  	</delete>
  	
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE NOTICE WHERE NUM= #{num}
  	 </delete>
  	 
  	<update id="setHitUpdate" parameterType="BoardDTO">
			update notice set hits= hits+1 where num=#{num}
	</update>
  	 
  	 <update id="setUpdate" parameterType="BoardDTO" >
  		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer} WHERE NUM=#{num}
  	</update>
  	
  	
  	
  
  </mapper>
  
 