<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.c4.notice.NoticeDAO">
  
  	<select id="getList" resultType="com.iu.c4.notice.NoticeDTO">
  		SELECT * FROM NOTICE
  	</select>
  
	<select id="getSelect" parameterType="com.iu.c4.notice.NoticeDTO" resultType="com.iu.c4.notice.NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM = #{num}
	
	</select>
  
  	<select id="setInsert" parameterType="com.iu.c4.notice.NoticeDTO" resultType="com.iu.c4.notice.NoticeDTO" >
  	  INSERT INTO NOTICE(num, title, contents, writer ,hits) VALUES(notice_seq.nextval,#{title},#{contents},#{writer}, #{hits});
  	</select>
  </mapper>